.logo{
    @include background-image($logo-url, $logo-width, $logo-height);
    @include hide-text();
}

.nav-left{
    min-width: 296px;
    min-height: 100vh;
}

.container{
    max-width: 920px;
}
.active{
    color: $success;
}
.nav-link.active::before{
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -16px;
    width: 4px;
    height: 32px;
    border-left: 4px solid $success;
}
.btn:focus{
    @extend %remove-box-shadow;
}