$container-max-width: 1200px;
$font-family-sans-serif: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size: 20px;
$line-height-title: 1.3125;
$line-height-content: 1.5;
$list-color: #891818;
$h1: 80px;
$h2: 64px;
$h3: 24px;
$h4: 20px;
$intro-url: "../img/background/intro.png";
$intro-width: 1920px;
$intro-height: 960px;
$works-url: "../img/background/works.png";
$works-width: 1920px;
$works-height: 1920px;