.ck.ck-editor{
    min-height: 319px;
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: -54px;
}

.btns{
    top: 100%;
    left: 0;
    right: 0;
}

.ck-content{
    min-height: 283px;
}